<%- include('../partials/header') %>

<body id="page-background5"></body>

<div>Please check the following list before adding a new location and concert date:</div>

<section id="badge-container">
  <% locations.forEach(function(location) { %>
    <article class="badge">
      <p class="badge-name"><%= location.name %></p>
      <p class="badge-location"><%= location.location %></p>
      <p class="badge-concert-date"><%= location.concertDate %></p>
      <form action="/locations/<%= location._id %>?_method=DELETE" method="POST" class="badge-form">
        <button type="submit">X</button>
      </form>
    </article>
  <% }) %>
</section>

<form id="add-location-form" action="/locations" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Location:</label>
  <input type="text" name="location">
  <label>Concert Date:</label>
  <input type="date" name="concertDate">
  <input type="submit" value="Add Location">
</form>

</body>

<%- include('../partials/footer') %>
