<%- include('../partials/header') %>
<body id="page-background3"></body>

<div class="music-list">
  <% musics.forEach(function(m) { %>
    <div class="music-item">
      <div class="music-info">
        <p class="music-title">Title: <%= m.title %></p>
        <p class="music-release-year">Release Year: <%= m.releaseYear %></p>
        <p class="music-style">Style: <%= m.style %></p>
      </div>
      <div class="music-details">
        <a href="/musics/<%= m._id %>">DETAILS</a>
      </div>
    </div>
  <% }); %>
</div>
</body>
<%- include('../partials/footer') %>


