<%- include('../partials/header') %>

<table id="list">

  <tbody>
    <% musics.forEach(function(m) { %>
      <tr class =="table-row">
        <td>Title: <%= m.title %></td>
        <td>Release Year: <%= m.releaseYear %></td>
        <td>Style: <%= m.style %></td>
        <td><a href="/musics/<%= m._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>

